<style>
 .css-3d-text {
    font-size: 42px;
    color: #2bc29c;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(22,173,135),
                 1px 1px 0 rgb(1,152,114),
                 2px 2px 0 rgb(-20,131,93),
                 3px 3px  0 rgb(-41,110,72),
                 4px 4px 3px rgba(78,173,126,0),
                 4px 4px 1px rgba(78,173,126,0.5),
                 0px 0px 3px rgba(78,173,126,.2);
 }

</style>
